a {
  color: #313538 !important;
  background-color: transparent;
}

.transition {
  transition: 0.3s !important;
}

.transition:hover {
  margin-bottom: -10px !important;
  background-color: lightslategrey !important;
}
